@model RelatorioLocacaoModel
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/bundles/jogosdisponiveis")
@Scripts.Render("~/bundles/modernizr")
@if (TempData["Mensagem"] != null)
{
    <h2>@TempData["Mensagem"]</h2>
}
<form style="margin-top: 20px" action='@Url.Action("Index", "Locar")' method="get">
    <input id="field" class="from-control" type="text" placeholder="Nome" name="nome" />
    <input class="btn btn-default btn-md" type="submit" value="Buscar" />
</form>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="color: black" class="panel-title">@Html.ActionLink("Mostrar Entregues", "MostrarEntregues", "Locar", new { area = "" }, new { @class = "btn btn-default btn-md" })</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome jogo</th>
                    <th>Nome cliente</th>
                    <th>Valor</th>
                    <th>Data prevista</th>
                    <th>Devolver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var locacao in @Model.Locacoes)
                {
                    <tr>
                        <th scope="row">@locacao.NomeJogo</th>
                        <td>@locacao.NomeCliente</td>
                        <td>@locacao.Valor.ToString("C")</td>
                        <td>@locacao.DataPrevista</td>
                        <td>@Html.ActionLink("Devolver", "DevolverJogo", "Locar", locacao, new { @class = "btn btn-default brn-lg" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $("document").ready(function () {
            $("#field").autocomplete({
                source: '@Url.Action("JogoAutocomplete", "Locar")',
                select: function () { $("#save").click(); }
            });
        });
    </script>
}
