@model JogoModel
@{
    ViewBag.Title = "Controle de Jogos";
}

@Styles.Render("~/bundles/manterjogo")
@Scripts.Render("~/bundles/modernizr")

@if (TempData["Mensagem"] != null)
{
    <h2>@TempData["Mensagem"]</h2>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@TempData["TipoManter"]</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Salvar", "Jogo", FormMethod.Post, new { @class = "form-control form-horizontal" }))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(false);
            //@Html.HiddenFor(m => Model.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nome)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Descricao, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descricao)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Preco, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => Model.Preco, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.Preco)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Categoria, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(m => Model.Categoria, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.Categoria)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Selo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(m => Model.Selo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.Selo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Imagem, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => Model.Imagem, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Video, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => Model.Video, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-lg">Salvar</button>
                </div>
            </div>
        }
    </div>
</div>


