@model RelatorioJogoModel

@{
    ViewBag.Title = "Jogos Disponiveis";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/JogosDisponiveis.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    @if (TempData["Mensagem"] != null)
    {
        <h2>@TempData["Mensagem"]</h2>
    }
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
            @Html.ActionLink("Cadastrar Jogo", "ManterJogo", "Jogo", new { area = "" }, new { @class = "btn btn-default btn-lg" })
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Selo</th>
                        <th>Preço</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var jogo in Model.ListaJogos)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@jogo.Nome</td>
                            <td>@jogo.Categoria</td>
                            <td>@jogo.Selo</td>
                            <td>R$@jogo.Preco</td>
                            <td>@Html.ActionLink("Details", "DetalhesJogo", "Jogo", jogo, new { @class = "btn btn-default" })</td>
                        </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Informações</h3>
        </div>
        <div class="panel-body">
            <h3>Quantidade de jogos: @Model.QuantidadeJogos</h3>
            <h3>Valor médio por jogo: R$@Model.MediaValor</h3>
            <h3>Jogo mais caro: @Model.NomeJogoMaisCaro</h3>
            <h3>Jogo mais barato: @Model.NomeJogoMaisBarato</h3>
        </div>
    </div>
</body>
</html>