@model RelatorioJogoModel
@{
    ViewBag.Title = "Jogos Disponiveis";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    @Styles.Render("~/bundles/jogosdisponiveis")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (TempData["Mensagem"] != null)
    {
        <h2>@TempData["Mensagem"]</h2>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
            @if (User.IsInRole("ADMIN"))
            {
                @Html.ActionLink("Cadastrar Jogo", "ManterJogo", "Jogo", new { area = "" }, new { @class = "btn btn-default btn-lg" })
            }   
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Selo</th>
                        <th>Detalhes</th>
                        <th>Locar</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var jogo in Model.ListaJogos)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@jogo.Nome</td>
                            <td>@jogo.Categoria</td>
                            <td>@jogo.Selo</td>
                            <td>@Html.ActionLink("Details", "DetalhesJogo", "Jogo", jogo, new { @class = "btn btn-default" })</td>
                            @if (jogo.Disponivel)
                            {
                                <td>@Html.ActionLink("Locar", "LocarJogo", "Locar", jogo, new { @class = "btn btn-default" })</td>
                            }
                            else
                            {
                                <td>INDISPONIVEL</td>
                            }
                        </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Informações</h3>
        </div>
        <div class="panel-body">
            <h3>Quantidade de jogos: @Model.QuantidadeJogos</h3>
        </div>
    </div>
</body>
</html>