@model RelatorioJogoModel

@{
    ViewBag.Title = "Jogos Disponiveis";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: #444;
        }

        h3 {
            font: bold 25px arial;
            color: lime;
        }

        h4 {
            color: orange;
            text-align: center;
        }

        th {
            font: bold 20px arial;
            color: lime;
        }

        td {
            font: bold 20px arial;
        }

        .panel {
            margin-top: 20px;
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Jogos</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Selo</th>
                        <th>Preço</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var jogo in Model.ListaJogos)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@jogo.Nome</td>
                            <td>@jogo.Categoria</td>
                            <td>@jogo.Selo</td>
                            <td>R$@jogo.Preco</td>
                            <td>@Html.ActionLink("Details", "DetalhesJogo", "Jogo", jogo, new { @class = "btn btn-success" } )</td>
                        </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Informações</h3>
        </div>
        <div class="panel-body">
            <h3>Quantidade de jogos: @Model.QuantidadeJogos</h3>
            <h3>Valor médio por jogo: R$@Model.MediaValor</h3>
            <h3>Jogo mais caro: @Model.NomeJogoMaisCaro</h3>
            <h3>Jogo mais barato: @Model.NomeJogoMaisBarato</h3>
        </div>
    </div>
</body>
</html>